
header { 
        display: grid;
        font: bolder;
        font-size: larger;
        text-align: center;
        background-color: black;
        color: white;
        height: 80px; 
        align-content: center;
        
        }

img   {

      width: 80%;
        
      }
        
.gridcontainer1 {
    display: grid;
    background-color: white;
    
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    
    grid-template-columns: 40% 40%;                     
    grid-gap: 3%; 

    justify-content: center; 
    align-content: center;
    align-items: center; 
    justify-items: center;
    text-align: center;
}  

.gridcontainer2 {
    display: grid ;
    background-color: white;
    
    grid-template-columns: auto auto auto auto; 
     

    grid-gap: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

    text-align: center;
    justify-content: center; 
    align-content: center;
    align-items: center; 
    justify-items: center;
    text-align: center;
    
  }
    
 

  
  

  